<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--xml namespace should use its interface all-name  interface's package name and interface name-->
<mapper namespace="cn.wolfcode.mybatis.mapper.EmployeeMapper">
    <select id="queryByMinSalary" resultType="Employee">
        select * from employee
        <if test="minSalary != null">
            where salary >= #{minSalary}
        </if>
    </select>

    <select id="queryByMinSalaryAndMaxSalary" resultType="Employee">
        select * from employee
        <where>
            <if test="minSalary != null">
                and salary &gt;= #{minSalary}
            </if>
            <if test="maxSalary != null">
                and salary &lt;= #{maxSalary}
            </if>
        </where>
    </select>

    <update id="update">
        update employee
        <set>
            <if test="name != null">
                name = #{name}
            </if>
            <if test="sn != null">
                sn = #{sn}
            </if>
            <if test="salary != null">
                salary = #{salary}
            </if>
            <if test="deptId != null">
                deptId = #{deptId}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="batchDelete">
        delete from employee where id in
        <!--
            collection      遍历数组或集合的 key 或者属性名
            open            遍历开始拼接的字符串
            index           遍历索引
            item            遍历元素
            separator       每遍历元素拼接字符串
            close           遍历结束拼接字符串
        -->
        <foreach collection="ids" open="(" item="id" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>